In [70]:
import pandas as pd
import statistics
data = pd.read_csv('data.csv')

In [71]:
data.drop(columns=['id'],inplace=True)

In [72]:
data.isna().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [73]:
data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [74]:
QUANTITATIVE_COLUMNS = ['avg_glucose_level','bmi',
                        'age']
for x in data.columns:
    if (x not in QUANTITATIVE_COLUMNS):
        data[x] = pd.factorize(data[x])[0]

In [75]:
data['bmi'].fillna(value = statistics.mean(data['bmi']),inplace=True)

In [76]:
data.dropna(how='any',subset=['bmi'],inplace=True)

In [77]:
"""Voting Ensemble"""
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
RANDOM_STATE = 0
VOTING_METHOD = 'soft'

voting_estimators = [
    ('lr', LogisticRegression(random_state=RANDOM_STATE)),
    ('knn', KNeighborsClassifier()),
    ('svm', SVC(random_state=RANDOM_STATE)),
    ('gnb', GaussianNB()),
    ('dt', DecisionTreeClassifier(random_state=RANDOM_STATE))
]

voting_classifier = VotingClassifier(voting_estimators,
                                     voting=VOTING_METHOD)

In [78]:
X = data.drop(columns=['stroke'])
Y = data['stroke']